div.elcafe{
text-align: center;
}
div.contacto{
    text-align: right;
}
body.fondo{
    background-color: brown
}

div.lacarta{
    color: red;
}
div.elcafe{
color: red;
}
div.elcontacto{
    color: green;
}